<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <span><%= @from %> ( at <%= @email %>) Says: </span>
    <p>
      <%= @message %>
    </p>
  </body>
</html>
